@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'manrope';
  src: url('/fonts/manrope.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'synthetique';
  src: url('/fonts/synthetique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.nav-text {
  font-size: 1.7rem;
}
